@model Gym

@{
    ViewData["Title"] = "Szczegóły";
}

<h1 class="text-center">Szczegóły Siłowni</h1>

<hr />

<table class="table">
    <tbody>
        <tr>
            <th>Nazwa:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Adres:</th>
            <td>@Model.City, @Model.Street</td>
        </tr>
        <tr>
            <th>Wielkość:</th>
            <td>@Model.Size</td>
        </tr>
        <tr>
            <th>Opis:</th>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <a asp-action="List" class="btn btn-outline-secondary btn-sm">Powrót do listy</a>
</div>
